@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-terciaria: #167BF7;
    --background: #00030C;
    --cor-botao-hover: #3c8ced;

    --fonte-principal: 'Inter';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--background);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url('img/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;


}

.container__caixa {
    margin: 0 6em;
}

.principal__titulo {
    font-size: 1.75em;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    display: block;
    font-size: 1em;
}

.container__botao:hover{
    background-color: var(--cor-botao-hover);
    color: var(--background);

}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--cor-primaria);
}

.containe__aviso {
    font-size: 0.75em;
}

.conteudo__titulo {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.conteudo__texto {
    font-size: 1rem;
    font-weight: 400;
}


/* nome do seletor temporário */
.secudario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.titulo__cursos {
    margin-bottom: 0.5em;
}

.dispositivos {
    text-align: center;

}

.dispositivos__titulo {
    margin: 2em auto;
    font-size: 3rem;
    font-weight: 700;
    color: var(--cor-primaria);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    color: var(--cor-primaria);
}

.rodape {
    text-align: center;
    margin-top: 10rem;
    
}

.rodape__logo{
    margin-bottom: 2.5rem;
}

.rodape__links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    list-style: none;
}

.rodape__links_link a{
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 1rem;
}

.rodape__links_link a:hover{
    color: var(--cor-terciaria);
}

.rodape__texto{
    margin: 1rem 0;
    color: var(--cor-secundaria);
}